@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Fira+Sans:ital@1&family=Noto+Sans:wght@300&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #24272e;
}

header{
    background: white;
    padding: 20px;
}


header > h1{
    color: #24272e;
    text-align: center;
    font-family: Bricolage Grotesque,sans-serif;
}

.score-board{
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family:Bricolage Grotesque,sans-serif;
    position: relative;
}

.badge{
    background: #e2584d;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Bricolage Grotesque,sans-serif;
}

#user-label{
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label{
    position: absolute;
    top: 30px;
    right: -45px;
}

.result{
    font-size: 40px;
    color: white;
}

.result > p{
    text-align: center;
    font-weight: bold;
    font-family: Bricolage Grotesque,sans-serif;
}

.choices{
    margin-top: 50px 0;
    text-align: center;
    padding: 30px;
}

.choice{
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 20px;
    transition: all 0.3s ease;
}

.choice:hover{
    cursor: pointer;
    background: rebeccapurple;
}

#action-message{
    text-align: center;
    color: white;
    font-family: Bricolage Grotesque,sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

.green-glow{
    border: 4px solid #4dcc7d;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow{
    border: 4px solid #fc121b;
    box-shadow: 0 0 10px #d01115;
}

.gray-glow{
    border: 4px solid #464647;
    box-shadow: 0 0 10px #25292b;
}


